<footer class="footer">
    <div class="article-container clearfix">
        <div class="content content-l l-right">
            <h1 class="footer-h2">LINK</h1>
            <ul class="sns-link">
                <li><a href="https://www.facebook.com/tetsuson2017/" target="_blank"><img src="../img/fb-logo.png"></a></li>
                <li><a href="https://twitter.com/tetsuson2017" target="_blank"><img src="../img/twitter-logo.png"></a></li>
                <li><a href="https://www.instagram.com/tetsuson2017/" target="_blank"><img src="../img/insta-logo.png"></a></li>
            </ul>
        </div>
        <div class="content content-r l-left">
            <h1 class="footer-h2">CONTACT</h1>
            <p>出展者・スタッフ共に随時募集中です！<br>
            興味のある方・ご質問がある方などは、お気軽にお問い合わせください。</p>
            <a class="mail-link">tetsuson2017@gmail.com</a>
        </div>
    </div>
</footer>
