<header class="clearfix">
    <div class="header">
        <div class="tit-img-box l-left">
            <a href='../../index.html'><img class="tit-img" src="../img/tetsuson-logo-black.png" alt="tetsuson2017"></a>
        </div>
        <nav class="header-nav l-right">
            <ul>
                <li><a href="../../index.html">Top</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="event.html">Event</a></li>
                <li><a href="../html/artist.html">Artist</a></li>
                <li><a href="../html/sponsor.html">Sponsor</a></li>
                <li><a href="../html/entry.html">Entry</a></li>
            </ul>
        </nav>
    </div>
    <nav class="mobile-nav">
        <div id="nav-toggle">
            <div>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="mobile-nav-list">
            <li><a href="../../index.html">Top</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="event.html">Event</a></li>
            <li><a href="../html/artist.html">Artist</a></li>
            <li><a href="../html/sponsor.html">Sponsor</a></li>
            <li><a href="../html/entry.html">Entry</a></li>
        </ul>
    </nav>
</header>

<script>
$(function(){
  console.log('god');
    $('#nav-toggle').click(function(){
        $('.mobile-nav').toggleClass('open');
    });
});
</script>