@charset "UTF-8";

/*-------------------------
	reset
-------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote: before, blockquote: after,
q: before, q: after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #fff9ad;
}

body {
	width: 100vw;
	background-color: #000;
	color: #fff;
	font-family: 'kozuka', KozGoPro-Light, "小塚ゴシック Pro L", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック, YuGothic, メイリオ, Meiryo, sans-serif;
	text-align: center;
}

/*-------------------------
	clearfix
-------------------------*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;/* 隙間対応 */
	font-size: 0.1em;/* 隙間対応 */
	line-height: 0;/* 隙間対応 */
}

.clearfix {
	display: inline-block;
	min-height: 1%;
}

/* Hides from IE-mac¥*/
*html .clearfix
 {height: 1%;}

.clearfix
 {display: block;}
/*End hide from IE-mac */

/*-------------------------
	default
-------------------------*/

@font-face {
	font-family: 'kozuka';
	src: url(../font/KozGoPr6N-ExtraLight.otf);
}



body {
	font-size: 14px;
	line-height: 1.6em;
	letter-spacing: 1px;
}

h1 {
	font-size: 2.6em;
	text-shadow: 0 0 5px  #fff9ad;
	margin-bottom: 20px;
	letter-spacing: 4px;
}

h2 {
	font-size: 1.8em;
	letter-spacing: 2px;	
	margin-bottom: 20px;
}

.none-dots {
	list-style: none !important;
}

.mb20 {
	margin-bottom: 20px !important;
}

.mb40 {
	margin-bottom: 40px !important;
}

/*-------------------------
	header
-------------------------*/

header {
	position: relative;
	width: 100vw;
	height: 80px;
	border-bottom: 2px solid #444;
}

.header {
	position: fixed;
	width: 100vw;
	height: 80px;
    padding: 20px 20px;
	box-sizing: border-box;
	background-color: #fefffe;
	z-index: 15;
}

.tit-img {
	height: 40px;
}

.header-nav ul {
	display: flex;
}

.header-nav ul li {
	box-sizing: border-box;
	height: 40px;
    width: 100px;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid #eee;
}

.header-nav ul li:last-child{
    border-right: 1px solid #eee;
}

.header-nav ul li a {
	font-size: 1.2em;
	color: #555;
}

.mobile-nav {
	display: none;
}

#nav-toggle {
    display: none;
    position: fixed;
    right: 20px;
    top: 15px;;
    width: 36px;
    height: 42px;
    cursor: pointer;
    z-index: 20;
}
#nav-toggle div {
    position: relative;
}

#nav-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #555;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 14px;
}
#nav-toggle span:nth-child(3) {
    top: 28px;
}

@media screen and (max-width: 780px) {
	header {
		height: 58px;
	}

	.header {
		height: 60px;
		padding: 10px 20px;
		border-bottom: 1px solid rgba(0, 0, 0, .8);
	}

	.header-nav {
		display: none;
	}

	.mobile-nav {
		display: block;
	}

    .mobile-nav-list {
    	color: #555;
    	display: block;
        position: fixed;
        z-index: 10;
        top: -500px;
        left: 0;
        background: rgba(255, 255, 255, .9);
        width: 100vw;
        text-align: center;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }

    .mobile-nav-list li a{
    	display: block;
    	box-sizing: border-box;
    	height: 60px;
    	line-height: 60px;
    	font-size: 1.4em;
    	color: #000;
        position: static;
        border-bottom: 1px solid rgba(0, 0, 0, .8);
    }

    .black-box {
    	z-index: 0 !important;
    }

    #nav-toggle {
        display: block;
    }
    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
    /* #global-nav スライドアニメーション */
    .open .mobile-nav-list {
        /* #global-nav top + #mobile-head height */
        -moz-transform: translateY(560px);
        -webkit-transform: translateY(560px);
        transform: translateY(560px);
    }

    .logo-title {
    	width: 60%;
    	height: auto !important;
    	top: 20% !important;
    	left: 20% !important;
    }
}

/*-------------------------
	footer
-------------------------*/
.footer{
	padding: 10px 80px;
	background-color: #3c3c3c;
}

.content {
	width: 40%;
}

.sns-link {
	display: flex;
	-webkit-justify-content: space-around; 
	justify-content: space-around;
	margin-bottom: 60px;
}

.sns-link li {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.sns-link li img{
	width: 100%;
	height: 100%;
}

.footer-h2{
	font-size: 2.0em;
	line-height: 2.0em;
	margin-bottom: 20px;
}

.content-r p{
	line-height: 1.8em;
	margin-bottom: 40px;
}

@media(max-width: 785px){
	.footer {
	padding: 10px 20px;
	}

	.content {
		width: 100%;
		float: none !important;
	}

	.sns-link {
		width: 80%;
		margin: 0 auto 60px;
	}

	.sns-link li {
		margin-right: 0;
	}
}


/*-------------------------
	btn
-------------------------*/

.btn-box {
	width: 100vw;
	height: 100px;
}

.entry-btn {
	display: block;
	box-sizing: border-box;
	margin-top: 80px !important;
	font-size: 1.6em;
	color: white;
	width: 200px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid white;
	border-radius: 5px;
	text-shadow: 0px 0px 7px  #fff9ad;
	box-shadow: 0px 0px 7px  #fff9ad;
}

.entry-btn:hover {
	color:  #fff9ad;
	border: 1px solid  #fff9ad;
}


/*-------------------------
	article
-------------------------*/

.article-container{
	box-sizing: border-box;
	height: 100%;
	margin: 0 auto;
	padding: 30px 20px;
}

@media(max-width: 540px){
	.article-container{
		box-sizing: border-box;
		padding: 15px 10px;
	}

}

.h1-container {
	display: block;
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}

.article-h1{
	font-size: 2.6em;
	margin: 0 auto;
	padding: 40px 0 20px;
}

.article-p{
	line-height: 3.2em;
	margin-bottom: 20px;
	padding: 10px;
}


/*-------------------------
	float
-------------------------*/
.l-left {
	float: left;
}

.l-right {
	float: right;
}

/*-------------------------
	relative
-------------------------*/
 .l-relative {
 	position: relative;
 }

/*-------------------------
	中央寄せ
-------------------------*/

.flexbox{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap; /* Safari */
	flex-wrap: wrap;
}

.center {
	-webkit-justify-content: center; /* Safari */
	justify-content: center;
}

.sp-between {
	-webkit-justify-content: space-between; /* Safari */
	justify-content: space-between;
}

.x-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.y-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
